@import url('https://fonts.googleapis.com/css?family=Thasadith&display=swap:wght@400');


.App * {
    text-align: center;
    font-family: 'Thasadith', sans-serif;
    font-weight: 400;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

.calc-wrapper {
    margin: 10% auto;
    padding: 0%;
    opacity: 0.75;
    height: 37vh;
    width: 20vw;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(6, 6, 6, 0.718);
    display: flex;
    flex-flow: row wrap;
}

.calc-wrapper>* {
    flex: 1 100%;
}

.return {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background-color: rgb(1, 1, 1);
    height: 25%;
    color: white;
    font-size: 45px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.return>* {
    margin-right: 5%;
}
 
.interface-container {
    height: 100%;
}

.interface {
    height: 75%;
    display: flex;
    color: white;
}

.left {
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    padding: 0px;
}

.top-row {
    display: flex;
    flex-grow: 5;
}
.left-columns {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0px;
}
.left-columns > * {
    flex-grow: 1;
}
.left-row {
    display: flex;
    align-items: center;
    border: 1px solid black;
}
.left-row > * {
    margin: auto;
}

.right {
    background-color: rgb(251, 147, 0);
    flex-grow: 1;
    border-bottom-right-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 0px;
    border: 1px solid rgba(6, 6, 6, 0.718);
}
.right-row {
    display: flex;
    align-items: center;
    border: 1px solid black;
    height: 100%;
}
.right-row > * {
    margin: auto;
}

.bold {
    font-size: 24px;
    font-weight: 800;
    color: white;
}

.right-corner {
    border-bottom-right-radius: 15px;
}

.bottom-row {
    display: flex;
    flex-grow: 1;
    width: 100%;
}
.left-corner {
    border-bottom-left-radius: 15px;
    flex-grow: 2.4;
    padding: 0px;
}
.left-corner > * {
    margin-left: 45%;
}

.period {
    flex-grow: 1;
    padding: 0px;
}
.period > * {
    margin-left: 40%;
}